.comint-container, .monaco-editor  {
    width: 100% !important;
}

.playground, .header, .monaco-aria-container{
    display: none;
}

.menu-button svg, .openBtn svg{
    font-size: 11px;
}

.menu-button, .openBtn {
    line-height: 1px;
}

input, select {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8rem !important;
    letter-spacing: -0.5px;
}

.li-autcompl {
    display: flex;
    justify-content: space-between;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8rem !important;
    letter-spacing: -0.5px;
}

.sc {
    color: #777777;
    margin-left: 1rem;
}

.input-error {
    background-color: #FFDDDD;
    border-color: red;
}

pre {
    font-size: initial !important;
    font-family: inherit !important;
}

#consolaContainer {
    background-color: #37474f;
    color: #CDE;
    min-height: 100%;
}

#exportDropdown .dropdown-toggle::after {
    margin: 0;
    color: white;
}

.index {
	margin-right: 0.8em;
}

.d-flex .dropdown-menu {
	transform: translate(0px, 2rem);
}





h1, h2, h3, h4, h5, h6 {
	color: #e0e0e0;
}

body, html {
    background-color: #23272D;
}

.main-menu > * {
    background-color: black !important;
    color: white !important;
    border: none !important;
}

.premisasContainer .dropdown-menu,
.consecuenteContainer .dropdown-menu{
    margin-top: -1rem;
}
